<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit">
    <meta name="browsermode" content="application">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="robots" content="noindex">
    <title><%= title %> <% if title != '' %>&ndash;<% end %> LuDesign</title>
    <link rel="stylesheet" href="assets/lud.css">
    <link rel="stylesheet" href="styles/hgt-syntax.css">
    <link rel="stylesheet" href="styles/hgt.css">
</head>

<body class="hgt-body">

<div class="hgt-styleguide page-wrapper">
        <% unless @blocks.length == 0 %>
        <aside class="lud-aside">
            <a class="lud-aside__brand" href="/">LuDesign</a>
            <nav>
                <ul class="lud-list--vertical lud-has-block-links hgt-menu">
                    <li class="lud-list__item">
                        <a href="index.html">首页</a></li>
                    <li class="lud-list__item lud-is-open lud-is-selected">
                        <a href="javascript:void(0);">组件</a>
                        <ul id="js-components-nav" class="lud-list--vertical lud-has-block-links lud-is-nested">
                            <% @blocks.each do |block| %>
                            <% if not block[:parent] %>
                            <li class="slds-list__item">
                                <a href="#<%= block[:name] %>" ><%= block[:title] %></a>
                            </li>
                            <% end %>
                            <% end %>
                        </ul>
                    </li>

                </ul>
            </nav>
        </aside>
        <% end %>

            <div class="main  hgt-content">
                <div class="card card-block">
